@charset "utf-8";
/*css Document*/



#cabeceraweb{
	background-color:purple;
}

#navegacionprincipal{
	background-color:pink
}

#barralateral{
	background-color:green
}

#contenedorprincipal{
	background-color:grey
}

#piedepagina{
	background-color:yellow
}